@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ballet:opsz@16..72&display=swap');
/* font-family: "Ballet", cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
    text-decoration: none;
    list-style: none;
}

html{
    background: rgba(17,17,17,1);
}

:root{
    --main_color: rgb(230, 83, 60);
    --text_1: rgb(255, 255, 255);
    --text_2: rgba(255, 255, 255, 0.5);
    --text_3: rgba(255, 255, 255, 0.1);
}

/* header section */

#header{
    width: 100%;
    height: auto;
    margin: 0 auto;
    background: linear-gradient(180deg, rgba(17,17,17,1) 10%, rgba(28,28,28,1) 50%, rgba(17,17,17,1) 90%);
    border: 1px solid rgba(17,17,17,1);
}

.nev_section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:3rem 10%;
    padding: 0;
}

.logo{
    color: var(--main_color);
    font-size: 2.5rem;
    font-weight: 800;
    text-align: left;
}

.menu_icon{
    position: absolute;
    right: 3%;
    top: 4.35%;
    font-size: 3rem;
    color: white;
    display: none;
}

.navbar ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.31rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.43rem;
}

.navbar ul li a{
    color: var(--text_1);
    font-size: 1.125rem;
    font-weight: 600;
}

.navbar ul li{
    padding: .5rem 1.25rem;
    margin: .25rem;
}

.home_button{
    background-color: var(--main_color);
    border-radius: 2.875rem;
}

.hero_section{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text_section{
    max-width: 550px;
    height: auto;
}

.text_section h1{
    font-size: 4.875rem;
    font-weight: 900;
    color: var(--text_1);
    text-align: left;
    line-height: 130%;
}

.text_section span{
    font-family: 'Ballet', cursive;
    font-size: 9rem;
    color: var(--main_color);
}

.text_section p{
    font-size: 1rem;
    font-weight: 400;
    color: var(--text_2);
    text-align: justify;
    line-height: 1.5rem;
    letter-spacing: .9px;
    margin-top: 1.875rem;
}

.text_section button{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text_1);
    margin-top: 1.875rem;
    padding: 1rem 2.5rem;
    border-radius: 2.625rem;
}

.text_section button:hover{
    cursor: pointer;
}

.text_section .btn_1{
    background: var(--main_color);
    border: 1px solid var(--main_color);
}

.text_section .btn_2{
    background: rgba(17,17,17,1);
    border: 1px solid var(--text_1);
    margin-left: 1rem;
}

.image_section{
    position: relative;
}

.box_1{
    width: 200px;
    height: 100px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(.5rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .75rem;
    text-align: center;
    position: absolute;
    right: -22%;
    top: 21%;
}

.box_1 h2{
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--text_1);
    margin: 12px auto 0;
}

.box_1 span{
    font-size: .81rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text_2);
}

.box_2{
    width: 210px;
    height: 100px;
    background: rgba(48, 48, 48, 0.5);
    backdrop-filter: blur(.5rem);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .75rem;
    text-align: left;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -33%;
    bottom: 11%;
}

.box_2 .circle{
    width: 42px;
    height: 42px;
    background: var(--main_color);
    border-radius: 50%;
}

.box_2 h2{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text_1);
    margin-bottom: 4px;
}

.box_2 span{
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: var(--text_2);
}

.box_2 .circle i{
    display: none;
}


/* change your habits section */


#habits{
    max-width: 1200px;
    margin: 100px auto;
}

.text_div{
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.text_div h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--text_1);
}

.text_div p{
    font-size: .8rem;
    font-weight: 400;
    color: var(--text_2);
    margin-top: 1rem;
}

.img_div{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
}

.img_div div{
    padding: 0 2rem;
}

.img_div div img{
    border: 3px solid rgba(56, 56, 56, 0.3);
    border-radius: 50%;
}

.img_div div h3{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text_1);
    margin-top: 2rem;
}

.img_div div p{
    font-size: .8rem;
    font-weight: 400;
    color: var(--text_2);
    margin-top: .5rem;
}


/* Run an Extra Mile Easily Section */

#run{
    max-width: 1200px;
    margin: 100px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    background: rgb(34, 34, 34);
    border-radius: 1.125rem;
}

.run_text{
    margin: 8%;
    text-align: left;
}

.run_text h1{
    font-size: 3rem;
    font-weight: 900px;
    color: var(--text_1);
}

.run_text p{
    font-size: .8rem;
    line-height: 1.4rem;
    letter-spacing: .1rem;
    font-weight: 400;
    color: var(--text_2);
    margin-top: 1.5rem;
}

.run_text button{
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text_1);
    background: var(--main_color);
    padding: 1rem 3rem;
    margin-top: 1.5rem;
    border: 1px solid var(--main_color);
    border-radius: 1.8rem;
    cursor: pointer;
}

.run_img{
    margin: 8%;
}

.run_img img{
    width: 100%;
    height: 100%;
    border-radius: 1.125rem;
}


/* Trainings and Exercises */

#train{
    max-width: 1200px;
    margin: 100px auto 0;
}

.train_text{
    max-width: 600px;
    height: auto;
    margin-bottom: 3.625rem;
}

.train_text h1{
    color: var(--text_1);
    font-size: 3rem;
    font-weight: 900;
    text-align: left;
    margin-bottom: 1rem;
}

.train_text p{
    color: var(--text_2);
    font-size: .8rem;
    font-weight: 400;
    text-align: left;
    line-height: 1.5rem;
    letter-spacing: .05rem;
}

.train_img{
    width: 100%;
    height:250px;
    display: grid;
    grid-template-columns: 1fr 2.08fr 1.15fr;
}

.train_img_1{
    width: 100%;
    height: 250px;
    display: grid;
    grid-template-columns: 1.47fr 1fr 1.20fr;
}

.same div{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    font-weight: 500;
    text-align: left;
}

.all_img{
    position: relative;
}

.all_img p{
    position: absolute;
    color: var(--text_1);
}

.img_1{
    background-image: linear-gradient(180deg, 
    rgba(6,255,210,0.5),
    rgba(6,255,210,0.5)),
    url('../images/exercise1.jpg');
}

.img_1 p{
    left: 10%;
    bottom: 10%;
    color: rgb(0, 0, 0);
}

.img_2{
    background-image: linear-gradient(180deg,
    rgba(255, 0, 0, 0.3),
    rgba(255, 0, 0, 0.3)),
    url('../images/exercise2.png');
}

.img_2 p{
    left: 10%;
    top: 10%;
}

.img_3{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
     url('../images/exercise3.png');
}

.img_3 p{
    left: 10%;
    bottom: 10%;
}

.img_4{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)),
    url('../images/exercise4.png');
}

.img_4 p{
    right: 10%;
    bottom: 10%;
}

.img_5{
    background-image: linear-gradient(180deg,
    rgba(66, 255, 0, 0.3),
    rgba(66, 255, 0, 0.3)),
    url('../images/exercise5.jpg');
}

.img_5 p{
    left: 10%;
    bottom: 10%;
}

.img_6{
    background-image: linear-gradient(180deg,
    rgba(0, 71, 255, 0.3),
    rgba(0, 71, 255, 0.3)),
    url('../images/exercise6.jpg');
}

.img_6 p{
    left: 10%;
    bottom: 10%;
}

/* BMI Calculator section */

#bmi_calc{
    width: 100%;
    height: auto;
    margin: 0 auto;
    color: var(--text_1);
}

.bmi_text{
    max-width: 700px;
    text-align: left;
    margin: 90px auto;
}

.bmi_text h1{
    color: var(--text_1);
    font-size: 3rem;
    font-weight: 900;
    margin-bottom: 1rem;
}

.bmi_text p{
    color: var(--text_2);
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .04rem;
}

.bmi_calc_form{
    width: 100%;
    height: auto;
    margin: 0 auto 100px;
    background: rgb(34, 34, 34);
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    justify-content: center;
    align-items: center;
}

.bmi_chart{
    margin: 5% auto;
}

.bmi_chart h2{
    color: var(--text_1);
    font-size: 1.75rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}

.bmi_chart table{
    border: 1px solid var(--text_3);
    border-collapse: collapse;
    text-align: center;
    width: 25rem;
    height: auto;
}

.bmi_chart table tr th{
    color: var(--text_1);
    margin: 2%;
    font-size: 1rem;
    font-weight: 500;
}

.bmi_chart table tr{
    color: var(--text_2);
    height: 3rem;
    font-size: .8rem;
    font-weight: 400;
    margin-left: 2%;
}

.calc_your_bmi{
    margin: 5% auto;
}

.calc_your_bmi h2{
    font-size: 1.75rem;
    font-weight: 900;
    color: var(--text_1);
    margin-bottom: 1rem;
    text-align: left;
}

.calc_your_bmi p{
    color: var(--text_2);
    font-size: .8rem;
    font-weight: 400;
    line-height: 1.5rem;
    letter-spacing: .04rem;
    margin-right: 10%;
    margin-bottom: 2.125rem;
}

.calc_form input{
    color: var(--main_color);
    width: 47%;
    height: 3rem;
    margin-bottom: .8rem;
    padding: .75rem 2rem;
    background: var(--text_3);
    border: 1px solid var(--text_3);
    border-radius: .5rem;
}

.calc_form input::placeholder{
    color: var(--text_2);
    font-size: .8rem;
    font-weight: 400;
}

.s1{
    width: 47%;
    height: 3rem;
    margin-bottom: .8rem;
    padding: .75rem 2rem;
    background: var(--text_3);
    border: 1px solid var(--text_3);
    border-radius: .5rem;
    color: var(--main_color);
    font-size: .8rem;
    font-weight: 400;
}

.s2{
    width: 96.4%;
    height: 3rem;
    margin-bottom: 2rem;
    padding: .75rem 2rem;
    background: var(--text_3);
    border: 1px solid var(--text_3);
    border-radius: .5rem;
    color: var(--main_color);
    font-size: .8rem;
    font-weight: 400;
}

.m1{
    margin-right: 2%;
}

.o1{
    display: none;
}

.calc_form button{
    background-color: var(--main_color);
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text_1);
    border: 1px solid var(--main_color);
    border-radius: 2.5rem;
    cursor: pointer;
}

/* Meet Our Team */

#trainer{
    max-width: 1200px;
    margin: 0 auto;
}

.trainer_text{
    max-width: 680px;
    margin: 0 auto 3.6rem;
}

.trainer_text h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--text_1);
    text-align: center;
    margin-bottom: 1rem;
}

.trainer_text p{
    font-size: .8rem;
    font-weight: 400;
    color: var(--text_2);
    text-align: center;
    letter-spacing: .05rem;
}

.trainer_img{
    width: 100%;
    height: auto;
    padding: 1.5rem;
    background: var(--text_3);
    border-radius: 1.125rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.25rem;
}

.trainer_1{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/trainer1.png);
}

.trainer_2{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/trainer2.png);
}

.trainer_3{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/trainer3.png);
}

.trainer_4{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/trainer4.png);
}

.trainer_5{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/trainer5.png);
}

.trainer_6{
    background-image: linear-gradient(180deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)),
    url(../images/trainer6.png);
}

.trainer_7{
    height: 300px;
    background-position: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1.125rem;
}

.trainer_7 h3{
    font-size: 1.3rem;
    color: var(--text_1);
    font-weight: 400;
    position: absolute;
    left: 8%;
    bottom: 12%;
}

.trainer_7 span{
    font-size: .8rem;
    font-weight: 400;
    color: var(--text_2);
    position: absolute;
    left: 8%;
    bottom: 6%;
}

/* Why chose us */

#chose{
    max-width: 1200px;
    height: auto;
    margin: 100px auto 0;
}

.chose_text h2{
    font-size: 2rem;
    color: var(--main_color);
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.chose_text h1{
    font-size: 3rem;
    font-weight: 900;
    color: var(--text_1);
    text-align: center;
    margin-bottom: 3rem;
}

.chose_thing{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.ct{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ct div{
    width: 100px;
    height: 100px;
    background: var(--text_3);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ct div:hover{
    background: rgb(0, 0, 0);
    cursor: pointer;
}

.ct div img{
    width: 50px;
    height: 50px;
}

.ct h3{
    color: var(--text_1);
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: .04rem;
    margin-bottom: 1rem;
}

.ct p{
    color: var(--text_2);
    font-size: .8rem;
    margin-left: 8%;
    margin-right: 8%;
    text-align: center;
    letter-spacing: .04rem;
    line-height: 1rem;
}

/*  Our Plan */

#plan{
    max-width: 1200px;
    margin: 100px auto 0;
}

.plan_text h2{
    color: var(--main_color);
    font-size: 2rem;
    font-weight: 400;
    text-align: center;
    margin-bottom: 1rem;
}

.plan_text h1{
    color: var(--text_1);
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
    margin-bottom: 3rem;
}

.plan_div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
    gap: 5%;
}

.pd{
    border: 1px solid var(--text_3);
    transform: skewY(-4deg);
    text-align: center;
    padding: 5%;
}

.pd:hover{
    background: black;
}

.pd .pd_text{
    transform: skewY(4deg);
}

.pd_text h3{
    color: var(--text_1);
    font-size: 1.5rem;
    font-weight: 600;
    margin: .5rem auto 1rem;
}

.pd_text span{
    color: var(--main_color);
    font-size: 3rem;
    font-weight: 600;
}

.pd_text h4{
    color: var(--text_1);
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.pd_text pre{
    color: var(--text_2);
    font-size: .9rem;
    line-height: 2rem;
    font-weight: 400;
}

.pd_text button{
    color: var(--text_1);
    background: var(--main_color);
    font-size: 1.2rem;
    font-weight: 600;
    padding: .7rem 2.5rem;
    border: 2px solid var(--main_color);
    cursor: pointer;
}

.pd_text button:hover{
    color: var(--text_2);
}

/* footer section */

#footer{
    width: 100%;
    height: auto;
    background: var(--text_3);
    margin-top: 90px;
}

.footer_text{
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 4.125rem;
    padding-bottom: 4.125rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
}

.footer_logo h1{
    font-size: 4.4rem;
    font-weight: 800;
    color: var(--main_color);
    margin-bottom: 1.1rem;
}

.footer_logo p{
    color: var(--text_2);
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: .04rem;
    line-height: 1.5rem;
    margin-right: 10%;
}

.list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    align-items: start;
}

.footer hr{
    max-width: 1200px;
    margin: 0 auto;
    border: 1px solid var(--text_3);
}

.footer > p{
    margin-top: 2.25rem;
    padding-bottom: 2.25rem;
    text-align: center;
    color: var(--text_2);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
}

.list h2{
    color: var(--text_1);
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
}

.list ul li{
    margin: 1.2rem 0;
}

.list ul li a{
    color: var(--text_2);
    font-size: 1.2rem;
    font-weight: 400;
}





/* responsive part */

@media screen and (max-width: 1300px) {
    .box_1{
        width: 190px;
        right: -8%;
        top: 13%;
    }

    .box_2{
        left: -5%;
        bottom: 11%;
    }

    #run{
        margin-left: 5%;
        margin-right: 5%;
    }

    #train{
        margin-left: 5%;
        margin-right: 5%;
    }

    #trainer{
        margin-left: 3%;
        margin-right: 3%;
    }

    .footer_text{
        margin-left: 5%;
        margin-right: 5%;
    }

    #chose{
        margin-left: 5%;
        margin-right: 5%;
    }

    #plan{
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (max-width:1150px) {
    .run_text h1{
        font-size: 2.7rem;
    }

    .run_text p{
        font-size: .7rem;
        line-height: 1.2rem;
    }

    .run_text button{
        font-size: 1rem;
    }

    .bmi_calc_form{
        gap: 4%;
    }
}

@media screen and (max-width: 1150px) and (min-width: 993px) {
    .bmi_chart{
        margin-left: 4%;
    }

    .ct h3{
        font-size: .98rem;
    }

    .chose_text h2{
        font-size: 1.8rem;
    }

    .chose_text h1{
        font-size: 2.5rem;
    }

    .ct p{
        font-size: .7rem;
    }
}

@media screen and (max-width: 992px) {
    .hero_section{
        flex-direction: column;
        align-items: start;
    }
    
    .text_section{
        margin-left: 12%;
        max-width: 700px;
    }

    .image_section{
        margin-left: 30%;
        margin-top: 4rem;
        margin-bottom: 4rem;
    }

    .nev_section{
        margin: 3rem 5%;
    }

    .logo{
        font-size: 2.5rem;
    }

    .navbar ul{
        gap: .75rem;
    }

    .navbar ul li a{
        font-size: .9rem;
    }

    #habits{
        max-width: 600px;
        margin: 0 auto;
    }

    .img_div{
        grid-template-columns: repeat(2, 2fr);
        row-gap: 2.5rem;
        column-gap: 2.5rem;
    }

    .img_div div h3{
        margin-top: .7rem;
    }

     .run_text{
        margin: 5%;
     }

     .run_img{
        margin: 5%;
     }

    .run_text h1{
        font-size: 2.2rem;
    }

    .run_text p{
        font-size: .6rem;
        line-height: 1.1rem;
    }

    .run_text button{
        font-size: .95rem;
        padding: 1rem 2.8rem;
        margin-top: 1.2rem;
    }

    .bmi_calc_form{
        grid-template-columns: repeat(1, 1fr);
        gap: 1%;
    }

    .calc_your_bmi{
        margin-left: 5%;
    }

    .footer_text{
        grid-template-columns: repeat(1, 1fr);
        gap: 8%;
    }

    .chose_thing{
        grid-template-columns: repeat(2, 1fr);
        gap: 10%;
    }

    .chose_text h2{
        font-size: 1.9rem;
    }

    .chose_text h1{
        font-size: 2.7rem;
    }

    .pd_text h3{
        font-size: 1.3rem;
    }

    .pd_text span{
        font-size: 2.5rem;
    }

    .pd_text h4{
        font-size: 1rem;
    }

    .pd_text pre{
        font-size: .8rem;
    }

    .pd_text button{
        font-size: 1rem;
        padding: .7rem 2rem;
    }
}

@media screen and (max-width: 855px) {
    .ct p{
        font-size: .7rem;
    }
}

@media screen and (max-width: 800px) {
    .nev_section{
        margin: 3rem 3%;
    }

    .logo{
        font-size: 2rem;
    }

    .navbar ul{
        gap: .5rem;
    }

    .text_section{
        margin-left: 8%;
    }

    .train_text h1{
        font-size: 2.5rem;
    }

    .train_text p{
        font-size: .7rem;
    }

    .train_img{
        height:200px;
        grid-template-columns: 1fr 1.3fr 1fr;
    }
    
    .train_img_1{
        height: 200px;
        grid-template-columns: 1.4fr 1.2fr 1fr;
    }

    .bmi_text{
        margin-left: 5%;
        margin-right: 5%;
    }

    .bmi_text h1{
        font-size: 2rem;
    }

    .bmi_text p{
        font-size: .7rem;
    }

    .trainer_text h1{
        font-size: 2rem;
    }

    .trainer_text p{
        font-size: .7rem;
    }

    .trainer_img{
        grid-template-columns: repeat(2, 1fr);
    }

    .trainer_7 h3{
        font-size: 1rem;
    }

    .footer_logo h1{
        font-size: 4rem;
    }

    .footer_logo p{
        font-size: .7rem;
    }

    .list h2{
        font-size: 1.7rem;
    }

    .list ul li a{
        font-size: 1rem;
    }

    .footer > p{
        font-size: .9rem;
    }

    .chose_text h2{
        font-size: 1.5rem;
    }

    .chose_text h1{
        font-size: 2.3rem;
    }

    .plan_text h2{
        font-size: 1.5rem;
    }

    .plan_text h1{
        font-size: 2.5rem;
    }

    .plan_div{
        gap: 2%;
    }

    .pd_text h3{
        font-size: 1rem;
    }

    .pd_text span{
        font-size: 2.2rem;
    }

    .pd_text h4{
        font-size: .9rem;
    }

    .pd_text pre{
        font-size: .7rem;
    }

    .pd_text button{
        font-size: .8rem;
        padding: .7rem 1.5rem;
        margin-bottom: 1rem;
    }
}

@media screen and (max-width: 755px) {
    .ct p{
        font-size: .83rem;
    }
}

@media screen and (max-width: 700px) {
    #habits{
        max-width: 500px;
    }

    .text_div h1{
        font-size: 2.5rem;
    }

    .text_div p{
        font-size: .77rem;
    }

    .img_div div h3{
        font-size: 1rme;
    }

    .img_div div p{
        font-size: .77rem;
    }

    .run_text h1{
        font-size: 2rem;
    }

    .run_text p{
        font-size: .55rem;
        line-height: 1rem;
        margin-top: .8rem;        
    }

    .run_text button{
        font-size: .9rem;
        padding: .9rem 2.8rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 650px) {
    .navbar ul{
        gap: .25rem;
    }

    .navbar ul li a{
        font-size: .8rem;
    }

    .logo{
        font-size: 1.75rem;
    }

    .text_section h1{
        font-size: 4rem;
    }

    .text_section p{
        font-size: .8rem;
        letter-spacing: .1rem;
        line-height: 1.5rem;
    }

    .image_section{
        margin-left: 25%;
    }

    .run_text h1{
        font-size: 1.5rem;
    }

    .run_text p{
        font-size: .55rem;
        line-height: .8rem;
        margin-top: .8rem;        
    }

    .run_text button{
        font-size: .9rem;
        padding: .8rem 2.5rem;
        margin-top: .8rem;
    }

    .chose_text h2{
        font-size: 1.3rem;
    }

    .chose_text h1{
        font-size: 2rem;
    }

    .ct p{
        font-size: .7rem;
    }
}

@media screen and (max-width: 575px) {
    .nev_section{
        margin: 2.5rem 5%;
    }

    .navbar{
        display: none;
    }

    .menu_icon{
        display: block;
        margin-right: 5%;
    }

    .menu_icon a{
        color: rgb(255, 255, 255);
        font-size: 2.5rem;
    }

    .logo{
        font-size: 3rem;
    }

    .text_section{
        max-width: 400px;
        margin-left: 8%;
    }

    .text_section h1{
        font-size: 3rem;
        line-height: 5rem;
    }

    .text_section span{
        font-size: 8rem;
    }

    .text_section p br{
        display: none;
    }

    .image_section{
        margin-left: 16%;
    }

    .box_1{
        right: 3%;
        top: 33%;
    }

    .box_2 .circle i{
        display: block;
        color: white;
        font-size: 2rem;
        position: absolute;
        top: 26px;
        left: 28px;
    }

    .text_section button{
        font-size: 1rem;
        padding: 1rem 2rem;
    }

    .text_div{
        max-width: 450px;
    }

    .text_div h1{
        font-size: 2.3rem;
    }

    .text_div p{
        font-size: .75rem;
    }

    .img_div{
        grid-template-columns: 1fr;
    }

    #run{
        margin-top: 50px;
        grid-template-columns: repeat(1, 1fr);
    }

    .run_text h1{
        font-size: 2.45rem;
    }

    .run_text p{
        font-size: .65rem;
        margin-top: 1.5rem;
        line-height: 1.2rem;
    }

    .run_text button{
        font-size: 1.25rem;
        padding: 1rem 3rem;
        margin-top: 1.5rem;
    }

    .all_img p{
        font-size: .8rem;
    }

    #train{
        margin-top: -50px;
    }

    .train_text{
        margin-bottom: 2rem;
    }

    .img_3, .img_6{
        display: none;
    }

    .train_img{
        grid-template-columns: 1fr 1fr;
    }

    .train_img_1{
        grid-template-columns: 1fr 1.25fr;
    }

    .trainer_img{
        grid-template-columns: repeat(1, 1fr);
    }

    .list{
        grid-template-columns: repeat(1, 1fr);
        gap: 5%;
    }

    .footer_logo h1{
        font-size: 3.5rem;
    }

    .list h2{
        font-size: 1.5rem;
    }

    .list ul li a{
        font-size: .9rem;
    }

    .footer > p{
        font-size: .8rem;
        margin-left: 5%;
        margin-right: 5%;
    }

    #chose{
        height: 1100px;
    }

    .chose_thing{
        grid-template-columns: repeat(1, 1fr);
    }

    .chose_text h1{
        font-size: 1.7rem;
    }

    .plan_text h2{
        font-size: 1.2rem;
    }

    .plan_text h1{
        font-size: 2rem;
    }

    .plan_div{
        grid-template-columns: repeat(1, 1fr);
        gap: 3%;
    }

    .pd_text h3{
        font-size: 1.5rem;
    }

    .pd_text span{
        font-size: 3rem;
    }

    .pd_text h4{
        font-size: 1.1rem;
    }

    .pd_text pre{
        font-size: .9rem;
    }

    .pd_text button{
        font-size: 1rem;
        padding: .7rem 2rem;
        margin-bottom: 1rem;
    }

    .pd_margin{
        margin-bottom: 5rem  ;
    }
}

@media screen and (max-width: 475px) {
    .logo{
        font-size: 2.5rem;
    }

    .text_section{
        max-width: 350pxd;
        margin-left: 5%;
    }

    .text_section h1{
        font-size: 2.9rem;
        line-height: 3rem;
    }

    .text_section span{
        font-size: 5.3rem;
    }

    .text_section p{
        font-size: .7rem;
        letter-spacing: .07rem;
        line-height: 1.5rem;
        margin-right: 10%;
    }

    .image_section{
        margin-left: 10%;
    }

    .text_section button{
        font-size: .9rem;
        padding: .9rem 1.5rem;
    }

    .text_div p{
        margin-left: 5%;
        margin-right: 5%;
    }

    .bmi_chart{
        margin-left: 8%;
    }

    .bmi_chart h2{
        font-size: 1.5rem;
    }

    .bmi_chart table{
        width: 98%;
    }

    .calc_your_bmi h2{
        font-size: 1.5rem;
    }

    .calc_your_bmi p{
        font-size: .7rem;
    }
}

@media screen and (max-width: 390px) {
    .nev_section{
        margin-left: 8%;
    }

    .logo{
        font-size: 2rem;
    }

    .menu_icon{
        top: 3%;
    }

    .menu_icon a{
        font-size: 2rem;
    }

    .text_section{
        margin-left: 8%;
    }

    .image_section img{
        max-width: 300px;
    }

    .image_section{
        margin: auto;
    }

    .box_1{
        right: 16%;
    }
    
    .box_2{
        left: 10%;
    }
    
    .text_section button{
        font-size: .7rem;
        padding: .8rem 1.4rem;
    }

    .text_section .btn_2{
        margin-left: 4px;
    }

    #habits{
        margin-top: 30px;
    }

    .text_div h1{
        font-size: 1.78rem;
        margin-left: 3%;
        margin-right: 3%;
    }

    .text_div p{
        font-size: .7rem;
    }

    .img_div div p{
        font-size: .7rem;
    }
}